
<div class="container">
  <div class="row global-search">
    <div class="col-sm-7 col-md-9">
      <form>
        <div class="input-group alpha">
          <input class="form-control global-search__input" type="text" placeholder="What are you looking for?"/><span class="input-group-btn">
            <button class="btn btn-secondary global-search__submit" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
        </div>
      </form>
    </div>
    <div class="col-sm-5 col-md-3">
      <form>
        <label class="global-search__label">Search By Points</label>
        <div class="input-group double-input">
          <input class="form-control global-search__input" type="number" placeholder="Min"/>
          <input class="form-control global-search__input" type="number" placeholder="Max"/><span class="input-group-btn">
            <button class="btn btn-secondary global-search__submit" type="submit"><span class="glyphicon glyphicon-search"></span></button></span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="navbar navbar-cat navbar-default fhmm" role="navigation" style="clear: both">
        <div class="navbar-collapse collapse" id="catalogmenu">
          <ul class="nav navbar-nav">
            <li class="dropdown fhmm-fw"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Merchandise
                <div class="glyphicon glyphicon-chevron-down"></div></a>
              <ul class="dropdown-menu fullwidth">
                <li class="fhmm-content withdesc">
                  <div class="row xc_catalog_menu_container">
                    <div class="col-sm-2">
                      <ul class="cat-menu-col">
                        <li>
                          <ul class="cat-menu-cat">
                            <li class="xc_catalog_menu_cat1"><a href="/catalog/category/205">Electronics</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/240">Cameras</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1151">Cameras and Camcorders</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/607">Communications</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1149">GPS and Navigation</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1153">Media</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/245">Office & Computer</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1148">Tablets and eReaders</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/246">Telephones</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1147">Video Games and Systems</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <ul class="cat-menu-col">
                        <li>
                          <ul class="cat-menu-cat">
                            <li class="xc_catalog_menu_cat1"><a href="/catalog/category/221">Home (Housewares)</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/329">Floor Care</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/280">Food & Wine</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/334">Furnishings and Accessories</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/267">Glassware</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/268">Grills</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/269">Home/Indoor</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/270">Home/Outdoor</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/623">Infant</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/272">Kitchen</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/223">Large Appliances</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/321">Tabletop & Entertaining</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/273">Tools</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <ul class="cat-menu-col">
                        <li>
                          <ul class="cat-menu-cat">
                            <li class="xc_catalog_menu_cat1"><a href="/catalog/category/202">Personal</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/383">Accessories</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/225">Apparel</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/226">Bags & Purses</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/257">Bags and Backpacks</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/659">Fragrances</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/281">Health & Beauty</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/228">Jewelry & Watches</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/232">Luggage</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/234">Wallets & Pens</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                    <div class="col-sm-2">
                      <ul class="cat-menu-col">
                        <li>
                          <ul class="cat-menu-cat">
                            <li class="xc_catalog_menu_cat1"><a href="/catalog/category/210">Recreation</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/250">Bicycles</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1100">Binoculars & Telescopes</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/252">Books & Magazines</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/253">Camping Equipment</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/254">Cars & Motorcycles</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/255">Exercise</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1099">Golf Equipment</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/409">Health and Fitness</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/298">Musical Instruments</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/260">Pet Supplies</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/261">Sporting Equipment</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/262">Toys & Games</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/274">Travel</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li class="dropdown fhmm-fw"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">Gift Cards
                <div class="glyphicon glyphicon-chevron-down"></div></a>
              <ul class="dropdown-menu fullwidth">
                <li class="fhmm-content withdesc">
                  <div class="row xc_catalog_menu_container">
                    <div class="col-sm-2">
                      <ul class="cat-menu-col">
                        <li>
                          <ul class="cat-menu-cat">
                            <li class="xc_catalog_menu_cat1"><a href="/catalog/category/175231">Charitable Donations</a></li>
                            <li class="xc_catalog_menu_cat2"><a href="/catalog/category/1086">All Charitable Donations</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="http://pl.rewardstation.test//../catalog/brandindex">View All Brands</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden">
              <form id="frmProdSearch" action="/catalog/search" method="get">
                <input id="query" type="search" name="query" placeholder="Search"/>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>